<app-nav-bar [admLogin]="false"/>

<main>
    <div class="title">Hamburgueres</div>
    <div class="option">
        @for (item of produtos.hamburgueres; track $index) {
            <a (click)="setPedido(item)">
                <div class="card">
                    <img src="../assets/rosa.jpg" alt="Food Image">
                    <div class="text-area">
                        <div>
                            <h2>{{resumeTitle(item.nome)}}</h2>
                            <div class="text">
                                {{resumeText(item.descricao)}}
                            </div>
                        </div>
                        <div class="price">
                            R$ {{item.preco}}
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="title">Porções</div>
    <div class="option">
        @for (item of produtos.porcoes; track $index) {
            <a (click)="setPedido(item)">
                <div class="card">
                    <img src="../assets/rosa.jpg" alt="Food Image">
                    <div class="text-area">
                        <div>
                            <h2>{{resumeTitle(item.nome)}}</h2>
                            <div class="text">
                                {{resumeText(item.descricao)}}
                            </div>
                        </div>
                        <div class="price">
                            R$ {{item.preco}}
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="title">Bebidas</div>
    <div class="option">
        @for (item of produtos.bebidas; track $index) {
            <a (click)="setPedido(item)">
                <div class="card">
                    <img src="../assets/rosa.jpg" alt="Food Image">
                    <div class="text-area">
                        <div>
                            <h2>{{resumeTitle(item.nome)}}</h2>
                            <div class="text">
                                {{resumeText(item.descricao)}}
                            </div>
                        </div>
                        <div class="price">
                            R$ {{item.preco}}
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="title">Sobremesas</div>
    <div class="option">
        @for (item of produtos.sobremesas; track $index) {
            <a (click)="setPedido(item)">
                <div class="card">
                    <img src="../assets/rosa.jpg" alt="Food Image">
                    <div class="text-area">
                        <div>
                            <h2>{{resumeTitle(item.nome)}}</h2>
                            <div class="text">
                                {{resumeText(item.descricao)}}
                            </div>
                        </div>
                        <div class="price">
                            R$ {{item.preco}}
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</main>

<div class="order-menu">
    <div class="orders-sep">
        <div class="title-organize">
            <div class="order-title">Carrinho</div>
            <img src="../assets/shop.png">
        </div>
        <div class="orders">
            @if (pedidos.length > 0) {
                @for (item of pedidos; track $index) {
                    <div class="order">
                        <div class="product">
                            <div>{{capitalizeText(item.nome)}}</div>
                            <div class="final-line-product">
                                <div>{{item.preco}}</div>
                                <button class="delete-button" mat-icon-button color="warn" (click)="deleteItem(item.id)">
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="confirmation-sep">
        <div class="total-value">R$ {{getTotalValue()}}</div>
        @if (pedidos.length > 0) {
            <button class="confirmation-button" (click)="openDialog()">Pagamento</button>
        }
        @else {
            <button class="confirmation-button" disabled>Pagamento</button>
        }
    </div>
</div>