<nav>
    <app-nav-bar [admLogin]="true"/>
</nav>

<main>
    <div class="preparing-table">
        <div>
            <div class="title">Preparando</div>
            <div>
                <table mat-table [dataSource]="orderSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="ordernum">
                        <th mat-header-cell *matHeaderCellDef> Nº do pedido</th>
                        <td mat-cell *matCellDef="let element"> {{element.ordernum}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="callname">
                        <th mat-header-cell *matHeaderCellDef> Cliente </th>
                        <td mat-cell *matCellDef="let element"> {{element.callname}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="orders">
                        <th mat-header-cell *matHeaderCellDef> Pedido </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="confirmation-button" mat-raised-button color="primary"
                                (click)="openDialog(element.orders)">Abrir</button>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef> Horário </th>
                        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="ready">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button class="confirmation-button" mat-raised-button color="primary" 
                                (click)="setReadyOrder(element)">Pronto</button>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="orderDisplayedColumns" class="header"></tr>
                    <tr mat-row *matRowDef="let row; columns: orderDisplayedColumns;"></tr>
                </table>
                @if (orderSource.data.length > 5) {
                    <mat-paginator id="tabela1" [pageSizeOptions]="[5]" showFirstLastButtons
                        aria-label="Select page of orders" style="margin-top: 15px;">
                    </mat-paginator>
                }
            </div>
        </div>
    </div>
    <div class="ready-table">
        <div>
            <div class="title">Pronto</div>
            <table mat-table [dataSource]="readySource.filteredData|slice:0:5" class="mat-elevation-z8">
                <ng-container matColumnDef="ordernum">
                    <th mat-header-cell *matHeaderCellDef> Nº do pedido</th>
                    <td mat-cell *matCellDef="let element"> {{element.ordernum}} </td>
                </ng-container>

                <ng-container matColumnDef="callname">
                    <th mat-header-cell *matHeaderCellDef> Cliente </th>
                    <td mat-cell *matCellDef="let element"> {{element.callname}} </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button class="confirmation-button" mat-raised-button color="primary"
                            (click)="deleteItem(element.ordernum, element.callname)">Deletar</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="readyDisplayedColumns" class="header"></tr>
                <tr mat-row *matRowDef="let row; columns: readyDisplayedColumns;"></tr>
            </table>
        </div>
    </div>
</main>