<nav>
    <div class="logo-centralize">
        <img src="../assets/Rosa Burguers White.png" class="logo" alt="logo">
    </div>
    @if(admLogin)
    {
    <ul>
        <a class="links">
            <li>
                Gerenciar
            </li>
        </a>
        <a class="links" (click)="goToTotem()">
            <li>
                Totem
            </li>
        </a>
        <a class="links" (click)="goToOrders()">
            <li>
                Pedidos
            </li>
        </a>
    </ul>
    }
</nav>