nav {
    background-color: #e91e63;
}

nav .logo-centralize {
    display: flex;
    justify-content: center;
}

.logo {
    width: 160px;
    padding: 5px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.links {
    text-decoration: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.links:hover {
    background-color: #424242;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.links:focus {
    background-color: #424242;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.links li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 150px;
    font-size: 24px;
}

.links li:hover {
    color: #e91e63;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 120px;
    }

    .links li {
        height: 40px;
        width: 120px;
        font-size: 22px;
    }
}