<nav>
    <div class="logo-centralize">
        <img src="../assets/Rosa Burguers White.png" class="logo" alt="logo">
    </div>
    @if(admLogin)
    {
        <ul>
            <a class="links" href="">
                <li>
                    Gerenciar
                </li>
            </a>
            <a class="links" href="">
                <li>
                    Totem
                </li>
            </a>
            <a class="links" href="">
                <li>
                    Pedidos
                </li>
            </a>
        </ul>
    }
</nav>