<nav>
    <div class="logo-centralize">
        <a href="/login"><img src="../assets/Rosa Burguers White.png" class="logo" alt="logo"></a>
    </div>
    @if(admLogin)
    {
    <ul>
        <a class="links" href="">
            <li>
                Gerenciar
            </li>
        </a>
        <a class="links" href="">
            <li>
                Totem
            </li>
        </a>
        <a class="links" href="/orders">
            <li>
                Pedidos
            </li>
        </a>
    </ul>
    }
</nav>