<main>
    <div class="title">Cadastro</div>

    <div class="form">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input type="text" matInput [formControl]="name" required>
            @if (name.invalid) {
            <mat-error>{{getNameErrorMessage()}}</mat-error>}
        </mat-form-field>

        <mat-form-field>
            <mat-label>Data de nascimento</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="dateBirth" required>
            @if (dateBirth.invalid) {
            <mat-error>{{getDateBirthErrorMessage()}}</mat-error>
            }
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        <mat-form-field>
            <mat-label>Sexo</mat-label>
            <mat-select [formControl]="sex" required>
                <mat-option value="Masculino">Masculino</mat-option>
                <mat-option value="Feminino">Feminino</mat-option>
                <mat-option value="Outro">Outro</mat-option>
            </mat-select>
            @if (sex.invalid) {
            <mat-error>{{getSexErrorMessage()}}</mat-error>  
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Digite seu email</mat-label>
            <input matInput placeholder="your@email.com" [formControl]="email" required>
            @if (email.invalid) {
            <mat-error>{{getEmailErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Digite sua senha</mat-label>
            <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (password.invalid) {
            <mat-error>{{getPasswordErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        @if (name.valid && dateBirth.valid && sex.valid && email.valid && password.valid) {
        <button class="confirmation-button" mat-raised-button color="primary" (click)="register()">Cadastrar</button>
        }
        @else {
            <button class="confirmation-button" mat-raised-button color="primary" disabled>Cadastrar</button>
        }
    </div>
</main>